:root {
  /* Colores Mas Usados */
  --color-primary: #007bff;
  --color-secondary: #fef9c3;
  --font-main: 'Arial', sans-serif;

  /* Estilos MenuPrincipal */
  --color-header: #142856;
  --color-body: white;
  /* color Original */
  /* --color-menuheader: #142s856; */


  /* Colores de texto Barra Lateral */
  /* Colores de Platano de Canarias */
  /* El original es el 2 */
  --color-barraletra1: white;
  --color-barraletra2: #FFD100;
  --color-barraletra3: red;

  --color-barraletrahover1: #ffcc00;
  --color-barraletrahover2: white;

  /* Colores para Pagina Test */
  --color--test1: red;
  --color--test2: yellow;

  /* -- var(--color-barralafondo); */

}